:root {
    --eventColor: #e92625
}

.slides img {
	border:0 !important; 
	box-shadow: none !important;
}
.reveal section img.no-background {
	background: none;
}
.stroke {
    color: white !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000 !important;
    letter-spacing: -6px !important;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    letter-spacing: -1px !important;
}
input { font-size: 27px; }

tr .popup-image {
	display: none ;
}

tr:hover .popup-image {
	display: inline; 
	width: 100px;
}

a {
    color: var(--eventColor) !important;
}

.reveal .progress span {
    background: var(--eventColor) !important;
}

.reveal ::selection {
    color: white;
    background: var(--eventColor);
    text-shadow: none; 
}
  
.reveal ::-moz-selection {
    color: white;
    background: var(--eventColor);
    text-shadow: none; 
}

.reveal blockquote.explanation {
    font-style: normal;
    background: rgba(15, 15, 15, 0.7);
}

.reveal a.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.3em;
    text-shadow: none;
}

.reveal code {
    font-family: 'Jetbrains Mono', monospace;
}

.print-pdf .reveal section .attribution {
    bottom: -50px;
    position: absolute;
}

.reveal .rightFooter {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 0.5em;
}

.reveal .leftFooter {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
}

.jChampionsConf {
    font-family: 'Monaco', monospace;
}

.jChampionsConf .red {
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
    background: -o-linear-gradient(left, #c70039, #ff5733 70%);
    background: linear-gradient(to right, #c70039, #ff5733 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
