.slides img {
	border:0 !important; 
	box-shadow: none !important;
}
.reveal section img.no-background {
	background: none;
}
.stroke {
    color: white !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}
input { font-size: 27px; }

tr:hover {
	background-color: #333;
}

tr .popup-image {
	display: none ;
}

tr:hover .popup-image {
	display: inline; 
	width: 100px;
}

a {
    color: #DD4C9B !important;
}

.reveal .progress span {
    background: #DD4C9B !important;
}

::selection {
    color: #fff;
    background: #DD4C9B;
    text-shadow: none;
}

.reveal blockquote.explanation {
    font-style: normal;
    background: rgba(15, 15, 15, 0.7);
}

.reveal a.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.3em;
    text-shadow: none;
}

.print-pdf .reveal section .attribution {
    bottom: -50px;
    position: absolute;
}

.reveal code {
    font-family: 'Jetbrains Mono', monospace;
}

.reveal pre {
    width: 100%;
}

.reveal ::selection {
  color: black;
  background: #1aa3b1;
  text-shadow: none; }

.reveal ::-moz-selection {
  color: black;
  background: #1aa3b1;
  text-shadow: none; 
}

.reveal .rightFooter {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 0.5em;
}

.reveal .leftFooter {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
}